/* Scrolly stuff */

/* Force scrolly sections to be the full width of the container-fluid ^ */
.scrolly-sections { width: 100% !important; }

/* Fix accessibility issue with scrolly contrast (increase gap between sections
and prevent them fading in / out) */
.scrolly-section {
  margin-bottom: 0px;
  margin-top: 75vh;
  opacity: 1;
}

/* Tweak CSS for navpanel to make it sticky when scrolling page */
.col-sm-2 {
  position: -webkit-sticky; /* Safari */
  position:sticky;
  left:0;
  top:0;
}
@media (max-width:800px){
  .col-sm-2 {
    position:inherit;
  }
}

#patients_age_gender-patients_by_fy_geo_age_gender_chart
 g.highcharts-legend-item.highcharts-column-series.highcharts-color-2.highcharts-series-2 > rect {
   stroke-width: 1;
   stroke: #9c5b00;
 }

#patients_age_gender-patients_by_fy_geo_age_gender_chart
 g.highcharts-legend-item.highcharts-column-series.highcharts-color-3.highcharts-series-3 > rect {
	stroke-width: 1;
	stroke: #001f57;
}

#ch_flag_drug-ch_flag_drug_chart
 g.highcharts-legend-item.highcharts-bar-series.highcharts-color-undefined.highcharts-series-1 > rect {
	stroke-width: 0.8;
	stroke: #003087;
	fill-opacity: 0.9;
}

a {
  text-decoration: underline;
}

#skiplink {
  position: absolute;
  transform: translateY(-100%);
}
#skiplink:focus {
  transform: translateY(0%);
  background-color: lightyellow;
  padding: 20px;
  z-index: 9999;
}

table:not(.dataTable) thead tr {
  color: white;
  background-color: #005EB8CC;
}

table:not(.dataTable) tbody:nth-child(odd) {
  background-color: #005EB81F;
}

table.dataTable th {
  font-size: 12px;
}

/* Have tabs cover full width of page */
#geo_ch_flag-table_selection {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

/* Have tab use equal available width */
#geo_ch_flag-table_selection li {
  flex: 1;
}

/* Centre tab titles */
#geo_ch_flag-table_selection li a {
  text-align: center;
}

/* In some states, DT adds margin to footer table - we don't want this as it
   causes misalignment*/
#geo_ch_flag-footer_table table {
  margin-left: 0px;
}

/* National average footer in bold */
#geo_ch_flag-footer_table td {
  font-weight: 700;
}

/* Make footer flush with main table */
#geo_ch_flag-footer_table .dataTables_wrapper {
  border-top: none;
}

/* Vertical scroll bar would show without this but only because
   the horizontal scrollbar is present but overflowing */
#geo_ch_flag-footer_table .dataTables_scroll {
  overflow-y: hidden !important;
}

/* Forces scrollbar when content overflows, but also hides it
   Needed to get horizontal scrolling to sync */
#geo_ch_flag-footer_table .dataTables_scrollBody {
  overflow-x: auto !important;
  padding-bottom: 20px;
  margin-bottom: -20px;
  box-sizing: content-box;
}

tr.dtrg-group.selected > th,
table.dataTable.display > tbody > tr.dtrg-group.selected:hover > th {
  color: #333 !important;
  box-shadow: none !important;
}

tr.dtrg-group > th {
  font-size: 11px;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  height: auto !important;
  line-height: normal;
}

/* Remove everything except y-axis and labels and text for first chart */
/* display:none will also free up the space the removed element took up */
#geo_ch_flag_drug-region_splines > div > div:first-child
 g:not(.highcharts-yaxis):not(.highcharts-yaxis-labels),
#geo_ch_flag_drug-ics_splines > div > div:first-child
 g:not(.highcharts-yaxis):not(.highcharts-yaxis-labels),
#geo_ch_flag_drug-lad_splines > div > div:first-child
 g:not(.highcharts-yaxis):not(.highcharts-yaxis-labels) {
  display: none;
}

/* Make text for first chart invisible */
/* visibility: hidden will NOT free up the space the element took up */
#geo_ch_flag_drug-region_splines > div > div:first-child > div > div > svg > text,
#geo_ch_flag_drug-ics_splines > div > div:first-child > div > div > svg > text,
#geo_ch_flag_drug-lad_splines > div > div:first-child > div > div > svg > text {
  visibility: hidden;
}
