/* Scrolly stuff */

/* Force scrolly sections to be the full width of the container-fluid ^ */
.scrolly-sections { width: 100% !important; }

/* Fix accessibility issue with scrolly contrast (increase gap between sections 
and prevent them fading in / out) */
.scrolly-section {
  margin-bottom: 0px;
  margin-top: 75vh;
  opacity: 1;
}

/* Tippy stuff */

.tippy {
  text-decoration: underline;
}

.tippy-content{
	background: #f0f4f5 none repeat scroll 0% 0%;
	text-align: left;
	font-size: 12pt;
}

.tippy-tooltip{
    color: #212b32;
    background-color: #f0f4f5 !important;
    border: 1px solid #425563;
    border-radius: 0;
}

.tippy-backdrop {
  background-color: #f0f4f5;
}

/* Tweak CSS for navpanel to make it sticky when scrolling page */
.col-sm-2 {
  position: -webkit-sticky; /* Safari */
  position:sticky;
  left:0;
  top:0;
}
@media (max-width:800px){
  .col-sm-2 {
    position:inherit;
  }
}

#patients_age_gender-patients_by_fy_geo_age_gender_chart
 g.highcharts-legend-item.highcharts-column-series.highcharts-color-0.highcharts-series-2 > rect,
 g.highcharts-legend-item.highcharts-column-series.highcharts-color-1.highcharts-series-3 > rect {
	stroke-width: 1;
	stroke: black;
	fill-opacity: 0.5;
}

#ch_flag_drug-ch_flag_drug_chart
 g.highcharts-legend-item.highcharts-bar-series.highcharts-color-undefined.highcharts-series-1 > rect {
	stroke-width: 0.8;
	stroke: #003087;
	fill-opacity: 0.9;
}

a {
  text-decoration: underline;
}

#skiplink {
  position: absolute;
  transform: translateY(-100%);
}
#skiplink:focus {
  transform: translateY(0%);
  background-color: lightyellow;
  padding: 20px;
  z-index: 9999;
}
